@import 'bootstrap/bootstrap';
@import 'header';

$tablet: "(min-width: 600px) and (max-width: 800px)";
// $desktop: "(min-width: 800px)";
$mobile: "(max-width: 600px)";



body {
  background-color: #37B6AF;
  color: white;
}



h1.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 60px;


    @media #{$tablet} {
      font-size: 30px;
    }
    @media #{$mobile} {
      font-size: 20px;
      margin-top: 10px;
    }
}


//not sure if any of this should even be displayed on phone

h1.heading {
    font-size: 50px;
    max-width: 430px;
    color: white;

    @media #{$tablet} {
      font-size: 60px;
    }
    @media #{$mobile} {
      font-size: 10px;

    }
}


h3 {
  font-size: 14px;
  max-width: 300px;
  color: white;
  line-height: 16px;
  padding-bottom: 20px;


    @media #{$tablet} {
      font-size: 60px;
    }
    @media #{$mobile} {
      font-size: 10px;

    }
}

p {
  padding-top: 40px;
  font-weight: 100;
  line-height: 20px;
}




.button {
    background: none;

    border: 2px solid white;
    position: relative;
    color: white;
    padding: 10px;
    display: inline-block;

      &:hover {
      background-color: white;
      text-decoration: none;
      color: black;
      }
}


.carousel{
    background: none;

}
.carousel .item {
    min-height: 220px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img {
    margin: 0 auto; /* Align slide image horizontally center */
}

.main-text {
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}




//glyphicons

.glyp {
    color: white;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    padding-top: 40px;
}

.arrows {
  padding-top: 70px;
}



.form-group {
  padding-top: 40px;
  font-weight: 100;
  width: 70%;
  height: 70%;
  .form-control {
    height: 70%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;

    }
}
